- if @emoji
  - vote_add        = embed_path(url: @page.url, emoji: @emoji.name, vote: "add")
  - vote_remove     = embed_path(url: @page.url, emoji: @emoji.name, vote: "remove")
  - reactions       = @page.reactions.where(ip_address: request.ip, emoji: @emoji.name)
  - add_remove      = reactions.count == 0 ? "add" : "remove"
  - add_remove_link = reactions.count == 0 ? vote_add : vote_remove

  = link_to add_remove_link, class: "emoji_react_link #{add_remove}" do
    = image_tag "/images/emoji/#{@emoji.image_filename}", style: "vertical-align:middle", width: 20, height: 20
    %span= @page.reactions.where(emoji: @emoji.name).count
