%section.page
  %h1
    Emoji React
    %iframe{allowtransparency: "true", frameborder: "0", scrolling: "no", src: "/embed?url=emojireact.com&emoji=tada", style: "border:none; overflow:hidden;width: 70px;height: 35px;vertical-align: top;margin-left: 10px;margin-top: -2px;"}

  %h3 Add Emoji reactions to any webpage.
  %h3 Inspired by Slack & Facebook reactions.

  = form_tag root_path, method: :get do
    %p= text_field_tag "emojis", params[:emojis], placeholder: "Enter a comma separated list of emojis. e.g. :tada:, :fire:", class: "wdt-emoji-bundle-enabled"

    %p= submit_tag "Generate"

  - if params[:emojis]
    %pre= render "home/code"
    = render "home/code_rendered"

  .details
    %h3 Demo
    %p You can add as many Emoji Reacts as you wish. See the #{link_to "Emoji Cheatsheet", "http://www.emoji-cheat-sheet.com/"} for a long list of emojis that can be used.
    %p
      %iframe{allowtransparency: "true", frameborder: "0", scrolling: "no", src: "/embed?url=emojireact.com&emojis=tada,fire,thumbsup,star2", style: "border:none; overflow:hidden;height:35px"}

    %h3 Questions?
    %p Please hit me up at #{link_to "@deanpcmad", "https://twitter.com/deanpcmad"}
    %p This site is now open source on #{link_to "GitHub", "https://github.com/deanpcmad/emojireact"}

= render "home/emoji_select"
